/* selector{ propiedad:valor; propiedad:valor;} */
body{
    background-color: pink;
}
h1{
    background-color: rgb(255, 152, 186);
    color: black !important;
}
li{
    display:inline;
    background-color: rgb(196, 174, 255);
    border: 1px solid rgb(211, 100, 255);
    padding: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 4px 5px 3px rgb(241, 168, 255);
    margin: 10px 10px;
}
#padre, ul{
    background-color: rgb(255, 100, 151);
    display: flex;
    justify-content: space-around;
}
.hija{
    background-color: #b6edff;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

